__pycache__/
*.pyc

.coverage
.tox/
midas.egg-info/
*-py2.6*.egg/
*-py2.7.egg/
*-py3.2.egg/

build/
dist/

pig_*.log

*.class
pig_scripts/.pigunit-input-overriden.txt.crc
pig_scripts/pigunit-input-overriden.txt

pig_scripts/restrictions_shelve